{% extends "nav.html" %}
{% load static %}

{% block body_block %}

<div class="row mt-3 pt-3">
  <div class="col-md-4">
      <div class="border p-3 shadow">
          <h3> <u>User Profile</u>  </h3>

          <p><h4>Name:</h4>{{dict.name}}</p>
          <p><h4>Age:</h4>{{dict.age}}</p>
          <p><h4>Gender:</h4>{{dict.gender}}</p>
          <p><h4>Bloodgroup:</h4>{{dict.bloodgroup}}</p>
      </div>
  </div>
  <div class="col-md-4">
    <div class="border p-3 shadow">
      <h3> <u>ECG Reports</u>  </h3>

      <form action='/graph/' method="get">

        <div class="ECGData">
          <!-- <select class="ECGData" name="date">
            <option value="none" selected disabled hidden>
              Select Report
            </option> -->
            <table>
              <tr>
                <th>Reports</th>
                <th>Verified</th>
              </tr>
                {% for key, value in reports.items %}
                  <tr> 
                    <td>{{key}}</td>
                    <td>{{value}}</td>
                  </tr>
                {% endfor %}
            </table>
            </select>
            <br>
            <br>
            <!-- <input type="submit"  class="btn btn-outline-success btn-sm" value='Submit' onclick="location.href='{% url 'graph' %}' "> -->
        </div>

        </form>


    </div>
  </div>
<br><br>
<div>
<!-- <button type="button" class="btn btn-outline-danger btn-sm" onclick="location.href='{% url 'log' %}' ">Logout</button> -->
</div>
{% endblock %}
