{% extends "nav.html" %}
{% load static %}

{% block body_block %}



<div class="row mt-3 pt-3">
        <div class="col-md-4">
            <div class="border p-3 shadow">
                <hr>

                <!-- <p style="color:red">{{predicted_result}}</p> -->
                <!-- <p>To view a speific duration of the graph, enter time durations.</p> -->
                <p>{{heart_condition}}</p>

                <form action='/doctors_graph/' method="get">

                    <div class="ECGData">
                      <select class="ECGData" name="heart_conditions">
                        <option value="none" selected disabled hidden>
                          Select Condition
                        </option>
                        {% for i in heart_conditions %}
                        <option>{{i}}</option>
            
                        {% endfor %}
                        </select>
                        <br>
                        <br>
                        
                    </div>
            
                    </form>
                    <form action='/verify_prediction/' method="post">
                        {% csrf_token %}
                        <input type="submit" style="margin:1px" class="btn btn-success btn-sm" name="validate" value="Verify">
                      </form>
                
                <!-- <form action="/postgraph/" method="post">
                    <p>To view a speific duration of the graph, enter time durations.</p>
                    <p>{{message}}</p>
                  {% csrf_token %}
                  <br>
                  <input type="submit" style="margin:1px" class="btn btn-success btn-sm" name="" value="Submit">
                </form> -->
               
                
            
            
            
            
            </div>

        </div>
        <div class="col-md-12">
            <canvas id="myChart" width="400" height="200"></canvas>
            <script>
                var ctx = document.getElementById('myChart').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels:  [{% for data in elapsedtime %} '{{data}}', {% endfor %}],
                        datasets: [{
                            label: 'ECG Reading',
                            data: [{% for data in ecglist %} '{{data}}', {% endfor %}],
                            pointRadius: 0,
                            fill: false,
                            borderColor: 'rgb(75, 192, 192)',
                            tension: 0.1,

                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            </script>
        </div>
    </div>
<!-- <canvas id="myChart" width="400" height="200"></canvas> -->




{% endblock %}
