{% extends "nav.html" %}
{% load static %}

{% block body_block %}



<div class="row mt-3 pt-3">
        <div class="col-md-4">
            <div class="border p-3 shadow">
                <!-- <h4>Select Duration for {{datee}}</h4> -->
                <hr>

                <p style="color:red">{{predicted_result}}</p>
                <!-- <form action="/postgraph/" method="post">
                    <p>To view a speific duration of the graph, enter time durations.</p>
                    <p>{{message}}</p>
                  {% csrf_token %}
                  <input class="mb-1"type="value" name="start" value="" placeholder="Start Time">
                  <input type="value" name="end" value="" placeholder="End Time">
                  <br>
                  <br>
                  <input type="submit" class="btn btn-success btn-sm" name="" value="Submit">
                </form> -->
                <form action="/validation/"  method="post">
                    {% csrf_token %}
                    <input type="submit" style="margin:1px" class="btn btn-success btn-sm" name="" value="Validate">
                </form>


            </div>
        </div>
        <div class="col-md-12">
            <canvas id="myChart" width="400" height="200"></canvas>
            <script>
                var ctx = document.getElementById('myChart').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels:  [{% for data in elapsedtime %} '{{data}}', {% endfor %}],
                        datasets: [{
                            label: 'ECG Reading',
                            data: [{% for data in ecglist %} '{{data}}', {% endfor %}],
                            pointRadius: 0,
                            fill: false,
                            borderColor: 'rgb(75, 192, 192)',
                            tension: 0.1,

                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            </script>
        </div>
    </div>
<!-- <canvas id="myChart" width="400" height="200"></canvas> -->




{% endblock %}
