{% extends "nav.html" %}
{% load static %}

{% block body_block %}

<div class="row mt-3 pt-3">
  <div class="col-md-4">
    <style>
      div {
          border-radius: 6px; 
      }
      
    </style>
    
      <div class="border p-3 shadow">
          <img src= {{dict.image}} class="img-fluid"><br>
          <h3><span class='notbold' style="font-weight:normal">Welcome </span>{{dict.name}}!</h3>
          <p>{{dict.age}} years old {{dict.gender}}. Bloodgroup {{dict.bloodgroup}}.
          </p> 
      </div>
  </div>
  <div class="col-md-4">
    <div class="border p-3 shadow">
      <h3> ECG Dates</h3>

      <form action='/graph/' method="get">

        <div class="ECGData">
          <select class="ECGData" name="date">
            <option value="none" selected disabled hidden>
              Select Date
            </option>
            {% for i in ecgdates %}
            <option>{{i}}</option>

            {% endfor %}
            </select>
            <br>
            <br>
            <input type="submit"  class="btn btn-outline-success btn-sm" value='Submit' onclick="location.href='{% url 'graph' %}' ">
        </div>

        </form>


    </div>
  </div>
  <div class="col-md-4">
    <div class="border p-3 shadow">
      <h3>Your last checkup</h3> 
      &nbsp;<font color="#ef315d"; size="3">{{dict.last_condition}}</font>
        &nbsp;<font color="#808080">Date: {{ecgdates.0}}</font> <br>
      </p> 
    </div>
  </div>
</div>
<br><br>
<div>
<!-- <button type="button" class="btn btn-outline-danger btn-sm" onclick="location.href='{% url 'log' %}' ">Logout</button> -->
</div>
{% endblock %}
