{% extends "base.html" %}
{% load static %}




{% block body_block %}

{% if message %}
<script>
	alert('{{ message }}');
</script>
{% endif %}

<div class="container">
      <div class="window">
        <div class="text-center mt-5 border p-3 shadow">
					<h1 class="h3 mb-3 font-weight-normal"> ECG Monitoring Service </h1>
					<h2 class="h3 mb-3 font-weight-normal"> Login </h2>

					<form action="/postsignIn/" method="POST">
						{% csrf_token %}
						<br>
						<!-- Enter Your Email: -->
						<input type="email" id="Email" name="email" placeholder="Email" required><br><br>
						<!-- Enter Your Password: -->
						<input type="password" id="Password" name="pass" placeholder="Password" required autofocus><br><br>



						<label>
							<input type="checkbox" checked="checked" name="remember">Remember me
						</label>

						<br>
						<br>


						<input type="submit" class="btn btn-success btn-sm" value="Login"><br>


						<p style="color: black;padding: 10px 0;"> <a href="{% url 'reset' %}" style="color: black;">Forget Password</a></p>


						<!-- <div class="btn btn-primary btn-sm"> -->
						<!-- <a href="{% url 'signup' %}" class="btn-primary btn-sm">SignUp</a> -->

						<!-- </div> -->

					</form>

					<button type="button" class="btn btn-outline-primary btn-sm" onclick="location.href='{% url 'signup' %} '">Create New Account</button>
        </div>
      </div>
    </div>

{% endblock %}
