{% extends "base.html" %}
{% load static %}




{% block body_block %}

{% if message %}
<script>
	alert('{{ message }}');
</script>
{% endif %}

<div class="container"  >
      <div class="window mt-5" >
        <div class="text-center mt-5 border p-3 shadow" style="background-color: white"id="roundEdge">
					<!-- <h1 class="h3 mb-3 font-weight-normal"> ECG </h1> -->
					<img src="https://firebasestorage.googleapis.com/v0/b/test-92aa6.appspot.com/o/AppImages%2FCapture.PNG?alt=media&token=f65df16b-ee3f-4682-9923-115b2f83e74a" style="max-width: 200px;" class="mb-3">
					<h2 class="h3 mb-3 font-weight-normal">Login</h2>

					<button type="button" style="margin:1px" class="btn btn-outline-success btn-sm" onclick="location.href='{% url 'doctors_signIn' %} '">Login as a Doctor</button>
					<button type="button" style="margin:1px" class="btn btn-outline-success btn-sm"  onclick="location.href='{% url 'patient_signIn' %} '">Login as a Patient</button>

					<button type="button" style="margin:1px" class="btn btn-outline-primary btn-sm" onclick="location.href='{% url 'signup' %} '">Create New Account</button>
        </div>
      </div>
    </div>

{% endblock %}
