{% extends "base.html" %}
{% load static %}

{% block body_block %}

<div class="container">
      <div class="window">
        <div class="text-center mt-5 border p-3 shadow" style="background-color: white" id="roundEdge">
			<img src="https://firebasestorage.googleapis.com/v0/b/test-92aa6.appspot.com/o/AppImages%2FCapture.PNG?alt=media&token=f65df16b-ee3f-4682-9923-115b2f83e74a" style="max-width: 200px;" class="mb-3">


					<form action="/postsignUp/" method="POST">
						{% csrf_token %}

						<h3>Create An Account</h3>
						<br>

						<!-- <label for="username">Username:</label> -->
						<input class="form-control" type="name" id="Username" name="name" placeholder="Your Name" required autofocus><br><br>
						<!-- Email: -->
						<!-- <label for="Email">Email:</label> -->
						<input class="form-control" type="email" id="Email" name="email" placeholder="Your Email Id" required autofocus><br><br>
						<!-- Password: -->
						<!-- <label for="Password">Password:</label> -->
						<input class="form-control" type="password" id="Password" name="pass" placeholder="Password" required autofocus><br><br>
						<!-- RepeatPassword: -->
						<!-- <label for="confirm_password">Confirm Password:</label> -->
						<input class="form-control" type="password" id="confirm_password" name="pass-repeat" placeholder=" Repeat Password" required autofocus><br><br>

						<!--age-->
						<!-- <label for="Age">Age:</label> -->
						<input class="form-control" type="text" id="Age" name="age" placeholder=" Age" required autofocus><br><br>
						<!--Gender: -->
						<!-- <div class="Gender">
								<label for="Gender" name='gender'><b>Gender: </b> </label>
								<label for="Male">Male
									<input type="radio" id="Male" name="gender" value="Male">
								</label>

								<label for="Female">Female
									<input type="radio" id="Female" name="gender" value="Female">
								</label>

								<label for="Other">Other
									<input type="radio" id="Other" name="gender" value="Other">
								</label><br>
							</div> -->


						<div class="Gender" >
							<select class="Gender" name="gender">
								<option value="none" selected disabled hidden>
									Select Gender
								</option>
								<option value="Male">Male</option>
								<option value="Female">Female</option>
								<option value="Other">Other</option>

							</select>
						</div>

						<br>
						<div class="Blood Group">
							<select class="Blood Group" name="bloodgroup">
								<option value="none" selected disabled hidden>
									Select Bloodgroup
								</option>
								<option value="A+">A+</option>
								<option value="A-">A-</option>
								<option value="B+">B+</option>
								<option value="B-">B-</option>
								<option value="AB+">AB+</option>
								<option value="AB-">AB-</option>
								<option value="O+">O+</option>
								<option value="O-">O-</option>
							</select>
						</div>
						<br>
						<!--Agreed-->
						<!-- <div class="">
							<label for="agreed">I agree to the terms and conditions:</label>
							<input id="agreed" name="agreed" type="checkbox">
						</div> -->

						<br>

						<input type="submit" class="btn btn-primary btn-lg" value="SignUp">




						<!--<a href="'{% url 'signIn' %}'">SignUp</a></input>-->
						<!--<button type="button" onclick="location.href='{% url 'signIn' %} '"></button>-->



					</form>
					<br>
					<button type="button" class="btn btn-success btn-sm" onclick="location.href='{% url 'signIn' %} '">Login</button>
        </div>
      </div>
    </div>

{% endblock %}
