{% extends "nav.html" %}
{% load static %}



{% block body_block %}

{%if msg%}
	<script>
		window.alert('{{msg}}');
	</script>
{% endif%}


<div class="container">
  <div class="inner">
    <h1>Reset Your Password</h1><br>
    <form action="/postReset/" method="POST">
      {% csrf_token %}
      <input type="email" name="email" id="email" placeholder="Enter Your email" required><br><br>
      <input type="submit" class="btn btn-outline-success btn-sm" value="Send Reset Link">
    </form>
  </div>
</div>
{% endblock %}
